<section class="page">
  <h1>Двухадресная Гарвардская архитектура</h1>

  <div class="emulator">
    <div class="emulator__input">
      <label class="label-input">
        <span>Данные для загрузки</span>
        <textarea #inputData placeholder="Введите последовательность целых чисел со знаком через запятую"></textarea>
      </label>

      <button (click)="loadData(inputData.value)">Загрузить</button>

      <label class="label-input">
        <span>Команды для загрузки</span>
        <textarea #inputInstructions placeholder="Введите команды ассемблера по одной на строку"></textarea>
      </label>

      <button (click)="loadInstructions(inputInstructions.value)">Загрузить</button>
    </div>

    <div class="emulator__divider"></div>

    <div class="emulator__controller">
      <button [disabled]="!(asm.getInstructions().length > 0)" (click)="launch()">Запустить</button>
      <button disabled (click)="launchInterval()">Запустить пошагово</button>
      <button [disabled]="!checkLaunchStep()" (click)="launchOneInstruction()">Запустить одну инструкцию</button>
      <label>
        <span>Память</span>
        <input
          [ngModel]="asm.memorySize"
          (ngModelChange)="asm.setMemorySize($event)"
          type="range"
          min="4"
          max="30"
          value="20"
        >
        <span>{{ asm.memorySize }}</span>
      </label>
      <hr>
      <button (click)="resetRegisters()">Сбросить регистры</button>
      <button (click)="resetMemory()">Сбросить память</button>
      <button (click)="resetInstructions()">Сбросить инструкции</button>
      <button (click)="resetAll()">Сбросить всё</button>

      <div class="list">
        <span class="list__header">Справка по инструкциям:</span>

        <div class="list__item-wrapper">
          <div class="list__item">
            <p>LOAD &#123; принимающий &#125; &#123; ячейка &#125; - загрузить в регистр значение из памяти</p>
          </div>
          <div class="list__item">
            <p>ADD &#123; принимающий операнд &#125; &#123; операнд &#125; - сложить два операнда и записать в операнд 1</p>
          </div>
          <div class="list__item">
            <p>MUL &#123; принимающий &#125; &#123; операнд &#125; - перемножить два операнда и записать в операнд 1</p>
          </div>
          <div class="list__item">
            <p>STORE &#123; регистр &#125; &#123; ячейка памяти &#125; - загрузить в память значение регистра</p>
          </div>
          <div class="list__item">
            <p>RESET &#123; регистр &#125; - сбросить регистр</p>
          </div>
        </div>
      </div>

      <div class="list">
        <span class="list__header">Сумма элементов массива</span>

        <div class="list__item-wrapper">
          <div class="list__item">
            <p>1) Введите в поле данных для загрузки массив 1, 2, 3, 4, 5, 0</p>
          </div>
          <div class="list__item">
            <p>2) Нажмите кнопку "Загрузить" - данные загрузятся в память эмулятора</p>
          </div>
          <div class="list__item">
            <span>
              <p>3) Введите в поле команд для загрузки</p>
              <span>RESET ACC</span><br/>
              <span>LOAD R1 0</span><br/>
              <span>ADD ACC R1</span><br/>
              <span>LOAD R1 1</span><br/>
              <span>ADD ACC R1</span><br/>
              <span>LOAD R1 2</span><br/>
              <span>ADD ACC R1</span><br/>
              <span>LOAD R1 3</span><br/>
              <span>ADD ACC R1</span><br/>
              <span>LOAD R1 4</span><br/>
              <span>ADD ACC R1</span><br/>
              <span>STORE ACC 5</span><br/>
            </span>
          </div>
          <div class="list__item">
            <p>4) Нажмите кнопку "Загрузить" - инструкции загрузятся в память эмулятора</p>
          </div>
        </div>
      </div>
    </div>

    <div class="emulator__divider"></div>

    <div class="emulator__inside">
      <div class="list memory">
        <span class="list__header">Память ({{ asm.memorySize }})</span>

        <div class="list__item-wrapper memory">
          @for (memory of asm.getMemory(); track $index) {
            <div class="list__item memory">{{ memory }}</div>
          }
        </div>
      </div>

      <div class="list">
        <span class="list__header">Инструкции</span>

        <div class="list__item-wrapper">
          @for (instruction of asm.getInstructions(); track $index) {
            <div
              [ngClass]="{
                'state-actual': instruction.state === 'actual',
                'state-passed': instruction.state === 'passed',
                'state-error': instruction.state === 'error'
              }"
              class="list__item instruction"
            >
              {{ $index }}. {{ instruction.code }}
            </div>
          }
        </div>
      </div>

      <div class="list">
        <span class="list__header">Регистры</span>

        <div class="list__item-wrapper">
          <div class="list__item">ACC: {{ asm.getRegisters()['ACC'] }}</div>
          <div class="list__item">R1: {{ asm.getRegisters()['R1'] }}</div>
          <div class="list__item">R2: {{ asm.getRegisters()['R2'] }}</div>
          <div class="list__item">TMP: {{ asm.getRegisters()['TMP'] }}</div>
        </div>
      </div>

    </div>
  </div>

</section>

